.container{
    margin:20px auto;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-direction: row-reverse; will reverce child direction 4-3-2-1 */
    gap: 4px;
    padding: 4px;
}
.container .child{
    padding:4px;
    border:1px solid black;

}


.container2{
    margin:20px auto;
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* flex-direction: column-reverse; will reverce child direction 4-3-2-1 */
    gap: 4px;
    padding: 4px;
}
.container2 .child2{
    padding:4px;
    border:1px solid black;

}

.container3{
    margin:20px auto;
    height: 100px;
    width:200px;
    border: 1px solid black;
    display: flex;
    gap: 4px;
    padding: 4px;
    /* flex-wrap: wrap; * use flex flow */
    flex-flow: column wrap; 
}
.container3 .child3{
    width: 40%;
    padding:4px;
    border:1px solid black;

}

.container4{
    margin:20px auto;
    height: 100px;
    width:200px;
    border: 1px solid black;
    display: flex;
    gap: 4px;
    padding: 4px;
    /* flex-wrap: wrap; * use flex flow */
    flex-flow: row wrap; 
    justify-content: flex-end;
    align-items: center;
}
.container4 .child4{
    width: 40%;
    padding:4px;
    border:1px solid black;

}
.container5{
    margin:20px auto;
    border: 1px solid black;
    gap: 4px;
    padding: 4px;
    display: flex;
    width:300px;
    flex-flow:row wrap;
    /* justify-content:center; */
    align-items:baseline;

    align-content:center;
    
}
.container5 .child5{
    padding:4px;
    border:1px solid black;
    flex-grow:1;
    flex-basis:30px
}
.container5 .item1{
    order:0;
    font-size:20px;
    flex-grow:3;
}

.container5 .item1{
    order:-2;
}